.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: opacity 0.3s ease;
}

.logo:hover{
  cursor: pointer;
  opacity: 0.7;
}

.logo-image {
  height: 3rem;
  width: auto;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 1000;
  color: #ff6b35;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.15rem;
}

.navigation {
  display: flex;
  gap: 0.5rem; 
  align-items: center;
}

.icon-button {
  background: none;
  border: 0.25px solid #ff6b35;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  color: #ff6b35; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem; 
  border-radius: 4px;
  transition: background 0.1s ease, border 0.1s ease;
}

.icon-button:hover {
  background: rgba(228, 153, 82, 0.068);
  border: 0.25px solid #f85a20;
}